body{font-size: 16px; line-height: 30px;}
a{color: #333; text-decoration: none; padding: 0 10px;}
a:hover{color: #01a0b3; text-decoration: none;}
ul,li{list-style: none;padding: 0px; margin: 0px;}
.imgauto{width: auto;}
.mr10{margin-right: 10px}
h2{font-weight: bold; font-size: 32px; padding: 25px 0;}
h4{font-size: 22px; line-height: 36px;}
.row{margin-top: 25px;}
.fontwhite{color: #fff;}
.hide{display: none;}
.topbg {background-image: url("../images/bg.png"); background-position: bottom;}
.topbg h4{color: #fff;}
.headBox {background-color: #001334;}
.bannerBox{background-image: url("../images/pcbg.jpg"); padding-bottom: 25px;}

.topmenu a{color:#fff; background-color: #01a0b3; padding: 10px 25px; margin-right:10px; border-radius:5px; }
.topmenu a:hover{color:#01a1b3;background-color: #fffc00; }
.c-right{color: #fff; margin-top:140px;  float: left;}
.c-right dl {margin-bottom:54px; }
.c-right dl dt{ font-size: 48px; margin-bottom:25px;  }
.c-right dl dd{ font-size: 32px; color: #D8D8D8 ; }

.c-right ul li{float: left;margin-bottom:19px; margin-right: 14px;  }
.c-right ul li a{display: block; width: 218px; height: 58px; }
.c-right ul li.win a{background: url(../images/lb_windows_download.png) 0 0 no-repeat;  }
.c-right ul li.adr a{background: url(../images/lb_android_download.png) 0 0 no-repeat;  }
.c-right ul li.ios a{background: url(../images/lb_ios_download.png) 0 0 no-repeat;  }
.c-right ul li.win a:hover{background: url(../images/lb_windows_download_over.png) 0 0 no-repeat;  }
.c-right ul li.adr a:hover{background: url(../images/lb_android_download_over.png) 0 0 no-repeat;  }
.c-right ul li.ios a:hover{background: url(../images/lb_ios_download_over.png) 0 0 no-repeat;  }
.c-right ul li.mac a{background: url(../images/lb_mac_download.png) 0 0 no-repeat;  }
.c-right ul li.mac a:hover{background: url(../images/lb_mac_download_over.png) 0 0 no-repeat;  }

.c-right ul li.code-con{ position: relative; }
.c-right ul li.code-con .codeapp{position: absolute; left: 2px; top:63px; box-shadow: 0px 1px 10px #999; overflow: hidden;  width: 215px; height: 220px; background:#fff; border-radius: 3px;}
.c-right ul li.code-con .codeapp img{ width: 150px; height:150px; margin: 35px 0 0 35px; }

.download{}

.downloadph a{ display:block;  border-radius:8px; border: 2px solid #004666; color: #004666; padding: 15px 0;text-align: center; text-decoration: none; margin-bottom: 25px;}
.downloadph a:hover{background-color: #f1d465; border: 2px solid #f1d465; color: #004666;}
.download img{  padding-right: 10px; }

.bannerfooter{border-radius:8px; background-color: #000; padding: 10px 20px; opacity:0.8; color: #b6ddff; margin-bottom: 25px;}
.bannerfooter h3{color: #fff;}
.serviceBox { width:100%;margin: 0 auto;background-color: #fdfff5; border-bottom: 1px solid #dce0c7; padding-top: 25px;}
.bgc_hui{background-color: #f9f9f9;}
/*底部*/
.footerCls {background: #001334;color: #fff;text-align: center; padding:25px;}
.banner-bottom{ margin: 0 auto 20px;}
@media screen and (max-width:768px) {
.c-right{color: #fff; margin-top:0px;  float: left;}

}
